.super-mario {
    width: 200px;
    position: absolute;
    left: 250px;
    z-index: 3;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 370px;
    left: 230px;
  }
  
  .baloon {
    position: absolute;
    left: 520px;
    top: 230px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 540px;
    top: 270px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 800px;
    top: 340px
  }